{% extends 'base.html.twig' %}

{% block redirects %}
    {{ document.getProperty('redirect_timeout') }};url={{ document.getProperty('birthday_list_navigation') }}?party={{ party }}
{% endblock %}

{% block html_class %}class="cursor-none"{% endblock %}

{% block title %}Facts!{% endblock %}

{% block body %}
    {% if empty %}
        <div class="text-center mt-10">
            <p class="text-white">Es gibt keine Fakten :(</p>
        </div>
    {% else %}
        <main class="h-full flex flex-col">
            <section class="pt-65 pb-86 text-white">
                <twig:Facts:Container>
                    <h1 class="font-chonky text-hero drop-shadow-title">Hast du gewusst?</h1>
                    <div class="grid grid-cols-3">
                        <twig:Facts:Fact>{{ fact.text }}</twig:Facts:Fact>
                        {{ fact.image|pimcore_image_thumbnail_html('fact--image', {
                            'disableAutoAlt': false,
                            'disableAutoCopyright': true,
                            'disableAutoTitle': true,
                            'imgAttributes': {'class': 'w-full h-full'}
                        }) }}
                    </div>
                    <twig:Facts:Date class="font-area" />
                </twig:Facts:Container>
            </section>
        </main>
    {% endif %}
{% endblock %}
