{% extends '@Emailizr/layout.html.twig' %}

{% block content %}
    <div class="font p-5 w-fit text-color bg-midnight flex flex-col content-center">
        {% if editmode or mail is not defined %}
            <div class="text-center mb-6">
                <h1 class="text-2xl font-bold ">%subject%</h1>
                <p class="text-sm mt-2">Hallo %name%</p>
                <p class="text-sm mt-2">Vergiss nicht, %firstname% %lastname% hat bald Geburtstag</p>
            </div>

            <div class="text-center">
                <p class="text-lg font-semibold">%firstname%'s Geburtstag ist am %birthday%</p>
                <p>Du hast noch <strong>%days% Tage</strong> Zeit!</p>
            </div>
        {% else %}
            <div class="text-center mb-6">
                <h1 class="text-2xl font-bold ">{{ mail.params['mail'].subject }}</h1>
                <p class="text-sm mt-2">Hallo {{ mail.params['mail'].name }}</p>
                <p class="text-sm mt-2">Vergiss nicht, {{ employee.firstname }} {{ employee.lastname }} hat bald Geburtstag</p>
            </div>

            <div class="text-center">
                <p class="text-lg font-semibold">{{ employee.firstname }}'s Geburtstag ist am {{ employee.birthday|format_datetime(pattern: 'd. MMMM', locale: 'de') }}</p>
                <p>Du hast noch <strong>{{ days }} Tage</strong> Zeit!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
