<!DOCTYPE html>
<html {% block html_class %}{% endblock %} lang="de">
<head>
    {% block metadata %}
        {%- if pimcore_website_config('name') is not empty -%}
            {%- do pimcore_head_title().append(pimcore_website_config('name')) -%}
            {%- do pimcore_head_title().setSeparator(' – ') -%}
        {%- endif -%}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="view-transition" content="same-origin">

        {{ pimcore_head_meta() -}}
        {{ pimcore_head_link() -}}
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="icon" href="{{ asset('build/images/favicon/wvision_favicon.png') }}" type="image/x-icon">
    {% if not editmode %}
        <meta http-equiv="refresh" content="{% block redirects %}{% endblock %}">
    {% endif %}
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{{ pimcore_head_title() -}}</title>
</head>
    <body class="bg-[#160D74] {% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>

{#instride Farben:#}
{#Dark Blue: #160D74#}
{#Coral: #FF6C64#}
{#Blue: #175AFF#}
{#Lime: #E3F509#}
{#Cool Gray: #E9EBE8#}
