<div class="grid grid-flow-col {{ holiday ? 'text-[#FF0000]' : 'text-[#999]' }}">
    <div><img src="{{ asset('build/images/star.svg') }}" class="w-5 inline {{ holiday ? 'block' : 'hidden' }}" style="filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(2543%) hue-rotate(348deg) brightness(104%) contrast(137%)">
    <p class="inline align-middle">{{ event }}</p></div>
    <p class="text-right">{{ date }}</p>
</div>
