<div class="grid grid-flow-col {{ holiday ? 'text-mustard-200' : 'text-white' }}">
    <div><img src="{{ asset('build/images/star.svg') }}" class="w-5 inline {{ holiday ? 'block' : 'hidden' }}">
    <p class="inline align-middle">{{ event }}</p></div>
    <p class="text-right">{{ date }}</p>
</div>
