<div class="max-w-xl mx-auto bg-white rounded-lg shadow-md p-6 mt-10">
    <div class="text-center mb-6">
        <h1 class="text-2xl font-bold text-gray-900">Geburtstags-Reminder</h1>
        <p class="text-sm text-gray-600 mt-2">Hallo {{ receiver }}</p>
        <p class="text-sm text-gray-600 mt-2">Vergiss nicht, {{ employee.firstname }} {{ employee.lastname }} hat bald Geburtstag</p>
    </div>

    <div class="text-center">
        <p class="text-lg font-semibold text-gray-800">{{ employee.firstname }}'s Geburtstag ist am {{ birthday|format_datetime('full', 'none', locale: 'de') }}</p>
        <p class="text-gray-600">Du hast noch <strong>{{ days }} Tage</strong> Zeit!</p>
    </div>
</div>
